* {
  box-sizing: border-box;
}

::after,
::before{

}

html,
body {
  height: 100%;
  max-height: 100%;
}

.container{
  margin: 0 auto;
  width:100%;
  max-width: 960px;
}

.row::after,
.row::before {
  content: "";
  display: block;
}

.row::after {
  clear: both;
}

/*.row {
  min-height: 1px;
}*/
